<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studying Express</title>
    <link href="/css/product.css" rel="stylesheet">
</head>
<body>
    <h1>Product Detail: {id}</h1>
    <div><span>ID:</span><span>{id}</span></div>
    <div><span>Name:</span><span>Item</span></div>
    <form action="edit/{id}" method="post"><input type="submit" value="Save a product" /></form>
</body>
</html>