body {
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: left;
}

h1, h3 {
    color: rgba(0, 225, 255, 0.397);
}

strong {
    color: yellow;
}

#favorite_para {
    font-style: italic;
}

li  a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 300px;
    height: 300px;
}

a > img {
    width: 88px;
    height: 31px;
}

p::first-letter {
    font-size: 150%;
}

div > div {
    padding-left: 50px;
}

span {
    color: yellow;
    font-weight: bold;
}

#description {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

ol { 
    display: flex;
    flex-direction: column-reverse;
}

ol > li {
    flex: 0 0 auto;
}